@using MudBlazor
@switch (Structure)
{
	case StructureMethod.MudBlazor:
	{
		<div class=@Classname>
			<div class="d-flex flex-column" style="min-height: 100%;">
				<div>
					<div class="d-flex flex-column flex-grow-1 flex-shrink-0">
						<div class="d-flex flex-row flex-grow-1 flex-shrink-0">
							<MudCard Class="d-flex flex-grow-1 flex-shrink-0 ma-1" Style=@ColorStyle()>
								<MudText Class="ma-auto">Header1 Left</MudText>
							</MudCard>
							<MudCard Class="d-flex flex-grow-1 flex-shrink-0 ma-1" Style=@ColorStyle()>
								<MudText Class="ma-auto">Header1 Middle</MudText>
							</MudCard>
							<MudCard Class="d-flex flex-grow-1 flex-shrink-0 ma-1" Style=@ColorStyle()>
								<MudText Class="ma-auto">Header1 Right</MudText>
							</MudCard>
						</div>

						<div class="d-flex flex-row flex-grow-1 flex-shrink-0">
							<MudCard Class="d-flex flex-grow-1 flex-shrink-0 ma-1" Style=@ColorStyle()>
								<MudText Class="ma-auto">Header2 Left</MudText>
							</MudCard>
							<MudCard Class="d-flex flex-grow-1 flex-shrink-0 ma-1" Style=@ColorStyle()>
								<MudText Class="ma-auto">Header2 Right</MudText>
							</MudCard>
						</div>
					</div>
				</div>
				<div class="d-flex flex-grow-1 flex-shrink-0">
					<nav class="d-flex flex-grow-0 flex-shrink-0 pa-1" style="width: 12em;">
						<div class="d-block mud-theme-primary rounded pa-2 full-size">
							<MudText>Nav</MudText>
						</div>
					</nav>
					<div class="d-flex flex-column flex-grow-1 flex-shrink-0">
						<div class="d-flex flex-row flex-grow-1 flex-shrink-0">
							<MudCard Class="d-flex flex-grow-1 flex-shrink-0 ma-1" Style=@ColorStyle()>
								<MudText Class="ma-auto">Upper Left</MudText>
							</MudCard>
							<MudCard Class="d-flex flex-grow-1 flex-shrink-0 ma-1" Style=@ColorStyle()>
								<MudText Class="ma-auto">Upper Middle</MudText>
							</MudCard>
							<MudCard Class="d-flex flex-grow-1 flex-shrink-0 ma-1" Style=@ColorStyle()>
								<MudText Class="ma-auto">Upper Right</MudText>
							</MudCard>
						</div>
						<MudCard Class="d-flex flex-grow-1 flex-shrink-0 ma-1" Style=@ColorStyle()>
							<MudText Class="ma-auto">Middle</MudText>
						</MudCard>
						<MudCard Class="d-flex flex-grow-1 flex-shrink-0 ma-1" Style=@ColorStyle()>
							<MudText Class="ma-auto">Lower</MudText>
						</MudCard>
					</div>
					<MudCard Class="d-flex flex-grow-0 flex-shrink-0 ma-1" Style=@ColorStyle("width: 12em;")>
						<MudText Class="ma-auto">Right Margin</MudText>
					</MudCard>
				</div>
				<MudCard Class="d-flex flex-grow-0 flex-shrink-0 ma-1" Style=@ColorStyle()>
					<MudText Class="ma-auto">Footer</MudText>
				</MudCard>
			</div>
		</div>
		break;
	}
	case StructureMethod.Html:
	{
		<div class=@Classname>
			<div class="d-flex flex-column full-height">
				<div>
					<div class="d-flex flex-column flex-grow-1 flex-shrink-0">
						<div class="d-flex flex-row flex-grow-1 flex-shrink-0">
							<div id="item" class="d-flex flex-grow-1 flex-shrink-0 pa-1">
								<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-primary rounded">
									<div class="d-flex align-center justify-center full-size">
										Header1 Left
									</div>
								</div>
							</div>
							<div id="item" class="d-flex flex-grow-1 flex-shrink-0 pa-1">
								<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-secondary rounded">
									<div class="d-flex align-center justify-center full-size">
										Header1 Middle
									</div>
								</div>
							</div>
							<div id="item" class="d-flex flex-grow-1 flex-shrink-0 pa-1">
								<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-tertiary rounded">
									<div class="d-flex align-center justify-center full-size">
										Header1 Right
									</div>
								</div>
							</div>
						</div>
						<div class="d-flex flex-row flex-grow-1 flex-shrink-0">
							<div id="item" class="d-flex flex-grow-1 flex-shrink-0 pa-1">
								<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-primary rounded">
									<div class="d-flex align-center justify-center full-size">
										Header2 Left
									</div>
								</div>
							</div>
							<div id="item" class="d-flex flex-grow-1 flex-shrink-0 pa-1">
								<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-tertiary rounded">
									<div class="d-flex align-center justify-center full-size">
										Header2 Right
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex flex-grow-1 flex-shrink-0">
					<nav id="item" class="d-flex flex-grow-0 flex-shrink-0 pa-1" style="width: 12em;">
						<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-primary rounded">
							<div class="d-flex align-center justify-center full-size">
								Nav
							</div>
						</div>
					</nav>
					<div class="d-flex flex-column flex-grow-1 flex-shrink-0">
						<div class="d-flex flex-row flex-grow-1 flex-shrink-0">
							<div id="item" class="d-flex flex-grow-1 flex-shrink-0 pa-1">
								<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-secondary rounded">
									<div class="d-flex align-center justify-center full-size">
										Upper Left
									</div>
								</div>
							</div>
							<div id="item" class="d-flex flex-grow-1 flex-shrink-0 pa-1">
								<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-tertiary rounded">
									<div class="d-flex align-center justify-center full-size">
										Upper Middle
									</div>
								</div>
							</div>
							<div id="item" class="d-flex flex-grow-1 flex-shrink-0 pa-1">
								<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-primary rounded">
									<div class="d-flex align-center justify-center full-size">
										Upper Right
									</div>
								</div>
							</div>
						</div>
						<div id="item" class="d-flex flex-row flex-grow-1 flex-shrink-0 pa-1">
							<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-secondary rounded">
								<div class="d-flex align-center justify-center full-size">
									Middle
								</div>
							</div>
						</div>
						<div id="item" class="d-flex flex-row flex-grow-1 flex-shrink-0 pa-1">
							<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-tertiary rounded">
								<div class="d-flex align-center justify-center full-size">
									Lower
								</div>
							</div>
						</div>
					</div>
					<div id="item" class="d-flex flex-grow-0 flex-shrink-0 pa-1" style="width: 12em;">
						<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-primary rounded">
							<div class="d-flex align-center justify-center full-size">
								Right Margin
							</div>
						</div>
					</div>
				</div>
				<div id="item" class="d-flex flex-grow-0 flex-shrink-1 pa-1">
					<div class="d-flex flex-grow-1 flex-shrink-0 mud-theme-primary rounded">
						<div class="d-flex align-center justify-center full-size">
							Footer
						</div>
					</div>
				</div>
			</div>
		</div>
		break;
	}
	default:
		throw new Exception("Unknown output format");
}